<!DOCTYPE html>
<html>
<title>Insta Food</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poiret+One">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css\bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css\style.css">
  <link rel="stylesheet" type="text/css" href="css\linearis.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
</style>
<body>
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="template.html">Home</a></li>
        <li><a href="menu.html" class="w3-bar-item w3-button">Menu</a></li>
        <li><a href="catering.html" class="w3-bar-item w3-button">Catering</a></li>
        <li><a href="about.html" class="w3-bar-item w3-button">About</a></li>
        <li><a href="contact.html" class="w3-bar-item w3-button">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="form.html"><span class="glyphicon glyphicon-user"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="https://pbs.twimg.com/profile_images/669680660366258178/0_w1rCgQ.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>
    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About Insta Food</h1><br>
      <h5 class="w3-center">Dibuat sejak 2017</h5>
      <p class="w3-large">Insta food sering dilihat sebagai representasi teknologi modern, konsep "makanan yang siap dibawa" sama tuanya dengan kota-kota sendiri. Variasi-variasi yang unik dapat ditemukan dalam sejarah berbagai kebudayaan. Kota-kota Romawi kuno memiliki stand-stand roti dan minyak zaitun. Budaya Asia Timur memiliki toko-toko mie. Roti pipih dan falafel banyak dijual di toko-toko seperti ini di Timur Tengah. Makanan siap saji populer di India termasuk Vada pav, Papri chaat, Bhelpuri, Panipuri dan Dahi vada. Di negara-negara berbahasa Perancis di Afrika Barat, sementara stand-stand kaki lima di dalam dan di sekitar kota-kota besar terus menjual berbagai jenis makanan siap saji, sate yang dibakar, yang dikenal sebagai "brochette" (jangan dikacaukan dengan roti snack dengan nama yang sama di Eropa). <span class="w3-tag w3-light-grey">seasonal</span> ingredients.</p>
      <p class="w3-large w3-text-grey w3-hide-medium">Makanan siap saji telah ada di Britania Raya sejak setidak-tidaknya zaman Romawi, meskipun perbedaan antara menu makanan siap saji dan restoran-restoran siap saji kasual kadang-kadang tidak jelas. Sebelum zaman modern, makanan siap saji di negara ini termasuk pie daging dan pastri serta gorengan dan berbagai jenis kue.</p>
    </div>
</body>
</html>
