<!DOCTYPE html>
<html>
<title>Catering Insta Food</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poiret+One">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css\bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css\style.css">
  <link rel="stylesheet" type="text/css" href="css\linearis.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
</style>
<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="template.html">Home</a></li>
        <li><a href="menu.html" class="w3-bar-item w3-button">Menu</a></li>
        <li><a href="catering.html" class="w3-bar-item w3-button">Catering</a></li>
        <li><a href="about.html" class="w3-bar-item w3-button">About</a></li>
        <li><a href="contact.html" class="w3-bar-item w3-button">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="form.html"><span class="glyphicon glyphicon-user"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">Our Menu</h1><br>
      <h4>PAKET NIKAHAN</h4>
      <p class="w3-text-grey">mulai dari harga 5.000.000 - 10.000.000. selengkapnya login ke aplikasi</p><br>
    
      <h4>PAKET SUNATAN</h4>
      <p class="w3-text-grey">mulai dari harga 4.000.000 - 8.000.000. selengkapnya login ke aplikasi</p><br>
    
      <h4>PAKET ULANG TAHUN</h4>
      <p class="w3-text-grey">mulai dari harga 3.000.000 - 7.000.000. selengkapnya login ke aplikasi</p><br>
    
      <h4>PAKET ACARA SEKOLAH</h4>
      <p class="w3-text-grey">mulai dari harga 6.000.000 - 8.000.000. selengkapnya login ke aplikasi</p><br>
    
      <h4>PAKET KELUARGA</h4>
      <p class="w3-text-grey">mulai dari harga 5.000.000 - 7.000.000. selengkapnya login ke aplikasi</p>    
    </div>
    
    <div class="w3-col l6 w3-padding-large">
      <img src="https://www.daddystakoyaki.com/wp-content/uploads/2016/12/Makanan-Khas-Indonesia-Yang-Mendunia-1024x520-1024x585.jpg" class="w3-card w3-margin w3-margin-top" alt="Menu" style="width:1000px">
    </div>
  </div>
</body>
</html>
