<!DOCTYPE html>
<html>
<head>
	<title>Insta Food</title>
	<!-- required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- import font -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poiret+One">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css\bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css\style.css">
	<link rel="stylesheet" type="text/css" href="css\linearis.css">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#home">Home</a></li>
        <li><a href="{% url 'menu' %}" class="w3-bar-item w3-button">Menu</a></li>
        <li><a href="{% url 'catering' %}" class="w3-bar-item w3-button">Catering</a></li>
        <li><a href="{% url 'about' %}" class="w3-bar-item w3-button">About</a></li>
        <li><a href="{% url 'contact' %}" class="w3-bar-item w3-button">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="form.html"><span class="glyphicon glyphicon-user"></span> Login</a></li>
        <li><a href="register.html"><span class="glyphicon glyphicon-user"></span> Register</a></li>
      </ul>
    </div>
  </div>
</nav>

	<div class="header-wrapper">
		<div class="header">
		<div class="container">
			<div class="title">
				<h1>Insta Food</h1>
			</div>
			<p class="description">
				suatu bagian dari hidup yang erat kaitannya dengan konsumsi makanan sehari – hari
			</p>
			<a href="#demo" class="btn custom-btn-header" data-toggle="collapse">MORE</a>
			<div id="demo" class="collapse">Lagi mager, gak tau mau ngapain? Kami antar makanan dengan rasa oriental juga dengan berbagai macam pilihan lain, gratis biaya pengiriman! Ayo pesan Instafood sekarang juga, dan nikmati cita rasa khas yang menggugah selera!</div>
		</div>
	</div>
</div></div>
<div class="intro-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-6 icon-home">
				<div class="circle-icon">
					<span class="lnr lnr-apartment"></span>
				</div>
			</div>
			<div class="col-md-6">
				<h2 class="subtitle">Lingkup Insta Food</h2>
				<p>Ini adalah website khusus untuk pemesanan makanan, mulai dari makanan lokal sampai luar negeri.</p>
			</div>
		</div>
		<div class="row">
		<div class="col-md-6">
				<h2 class="subtitle">I like Insta Food</h2>
				<p>Jika mulut tak kuasa mengucap kata, coba tunjukkan cintamu melalui makanan.</p>
			</div>
			<div class="col-md-6 icon-home">
				<div class="circle-icon">
					<span class="lnr lnr-thumbs-up"></span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="category-wrapper">
	<div class="category">
	<div class="container">
		<h2 class="subtitle text-center">Category</h2>
		<ul class="Category">
			<li class="item">
				<a href="#"><span class="lnr lnr-home"></span>Lampung</a>
			</li>
			<li class="item">
				<a href="#"><span class="lnr lnr-apartment"></span>Jakarta</a>
			</li>
			<li class="item">
				<a href="#"><span class="lnr lnr-cloud"></span>Bali</a>
			</li>
			<li class="item">
				<a href="#"><span class="lnr lnr-dice"></span>Padang</a>
			</li>
		</ul>
	</div>
</div>
</div>
<div class="gallery-wrapper">
	<div class="container">
		<h2 class="subtitle text-center">My Food Galley</h2>
		<div class="row">
			<div class="col-md-3">
				<div class="img-thumbnail">
					<img src="http://media.nationalgeographic.co.id/daily/640/0/201211201529220/b/foto-hati-hati-makanan-ini-buat-kecanduan-dan-obesitas.jpg" class="">
					<div class="top-wrapper">
						<div class="text-center">This is my food</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-thumbnail">
					<img src="http://blog.aseankorea.org/wp-content/uploads/2017/01/1.-Indonesian-snacks.jpg" class="">
					<div class="top-wrapper">
						<div class="text-center">
							This is my food
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-thumbnail">
					<img src="http://www.thewanderingpalate.com/wp-content/uploads/thai-food.jpg" class="">
					<div class="top-wrapper">
						<div class="text-center">
							This is my food
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="img-thumbnail">
					<img src="http://cdn2.tstatic.net/travel/foto/bank/images/ilustrasi-makanan-indonesia_20161003_131105.jpg" class="">
					<div class="top-wrapper">
						<div class="text-center">
							This is my food
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="footer-botton">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<span class="copyright">&copy; Copyright <a href="#">interpreter</a> anggie, darra, & edo</span>
				</div>
			</div>
		</div>
	</div>
</footer>
</body>
</html>
